/* External css */

h1{
    font-size: 50px;
    text-align: center;
}

p{
    background-color: aquamarine;
    /* the closest is apply */
}

#A1{
    color: white;
    background-color: blue;
}

.paraclass{
    display: flex;
}

p,article{
    height: 50px;
}