*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.main{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image.jpg);
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: mediumaquamarine;
    color: aliceblue;
}

.image img{
    height: 120vh;
    width: 100%;
}

nav ul li{
  font-size: 30px;  
  padding: 20px;
}

.brand{
    color: #ff7200;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    float: left;
}

.menu{
    display: flex;
    width: 440px;
    float: left;
    height: 70px;
}

.brand{
 width: 50px;
 size: 50vh;
}

